<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_finances_service_registers.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("user_name") %>
                <th><%= t('.user_name') %></th>
            <% end %>
            <% if get_columns(params).include?("service_name") %>
                <th><%= t('.service_name') %></th>
            <% end %>
            <% if get_columns(params).include?("price") %>
                <th><%= t('.price') %></th>
            <% end %>
            <% if get_columns(params).include?("time") %>
                <th class="text-center"><%= t('.time') %></th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th><%= t('status') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_finances_service_registers.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @service_registers.each do |service_register| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: service_register.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td>
                        <% if can? :edit, service_register %>
                            <%= link_to service_register.name, erp_finances.edit_backend_service_register_path(service_register), class: 'title' %>
                        <% else %>
                            <%= service_register.name %>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("user_name") %>
                    <% if can? :edit, service_register.user %>
                        <td><%= link_to service_register.user_name, erp.edit_backend_user_path(service_register.user_id), target: "_blank" %></td>
                    <% else %>
                        <td><%= service_register.user_name %></td>
                    <% end %>
                <% end %>
                <% if get_columns(params).include?("service_name") %>
                    <% if can? :edit, service_register.service %>
                        <td><%= link_to service_register.service_name, erp_finances.edit_backend_service_path(service_register.service_id), target: "_blank" %></td>
                    <% else %>
                        <td><%= service_register.service_name %></td>
                    <% end %>
                <% end %>
                <% if get_columns(params).include?("price") %>
                    <td><%= format_price(service_register.price) %></td>
                <% end %>
                <% if get_columns(params).include?("time") %>
                    <td class="text-center"><%= service_register.start_date.strftime("%d-%m-%Y") %> ~ <%= service_register.end_date.strftime("%d-%m-%Y") %></td>
                <% end %>                
                <% if get_columns(params).include?("status") %>
                    <% if (service_register.end_date.end_of_day) < (Time.now.end_of_day) %>
                        <td><span class="label label-sm label-danger">Đã hết hạng</span></td>
                    <% else %>
                        <td><span class="label label-sm label-success">Đang còn thời hạn</span></td>
                    <% end %>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= service_register.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>                
                <td class="text-right">
                    <%
                        actions = []
                        actions << {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_finances.edit_backend_service_register_path(service_register)
                            } if can? :edit, service_register
                        actions << {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_finances.backend_service_register_path(service_register),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            } if can? :delete, service_register
                     %>
                    <%= erp_datalist_row_actions(actions) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @service_registers.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@service_registers) %>